<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">Información del Usuario</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-2"><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
          <p class="mb-2"><strong>Email:</strong> {{user.email}}</p>
          <p class="mb-2"><strong>Rol:</strong> {{user.role}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form action="/logout" method="get">
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
      </form>
    </div>
  </div>
</div>
